body {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-auth {
    height: 24px;
    width: 24px;
}
