{% extends "base.html" %}
{% block title %} Leader board {% endblock %}
{% block main %}

<div class="container quiz">
    <div style="position: relative; top: 20px">

 <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
      <th scope="col">Quizzes</th>
    </tr>
  </thead>
  <tbody>
	  {% for score in top_scores %}
	  <tr>
	    <th scope="row">{{ loop.index }}</th>
	    <td>{{ score['name'] }}</td>
	    <td>{{ score['total_score'] }}</td>
	    <td>{{ score['quiz_count'] }}</td>
	  </tr>
	  {% endfor %}
  </tbody>
</table>
        
    </div>
</div>

{% endblock %}
