{% extends "base.html" %}
{% block title %} Quiz {% endblock %}
{% block main %}

<div class="container">
    <div class="row justify-content-center">
        <br>
        <br>
        <h1>Quiz</h1>
        <form action="/submit_quiz" method="post">
            {% for question in questions %}
                <div>
                    <p class="lead">{{ loop.index }}. {{ question['question']|safe }}</p>
                    {% if question['type'] == 'multiple' %}
                        <input type="radio" name="question{{ loop.index }}" value="{{ question['correct_answer'] }}"> {{ question['correct_answer'] }}<br>
                        {% for answer in question['incorrect_answers'] %}
                            <input type="radio" name="question{{ loop.index }}" value="{{ answer }}"> {{ answer }}<br>
                        {% endfor %}
                    {% elif question['type'] == 'boolean' %}
                        <input type="radio" name="question{{ loop.index }}" value="True"> True<br>
                        <input type="radio" name="question{{ loop.index }}" value="False"> False<br>
                    {% endif %}
                    <br>
                </div>
            {% endfor %}
            <input type="submit" value="Submit Quiz">
        </form>
    </div>
</div>

{% endblock %}
