{% extends "auth_base.html" %}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg my-5">
                <div class="card-body">
                    <h2 class="card-title text-center">Register</h2>
                    <form method="POST" action="{{ url_for('auth.signup') }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control form-control-user") }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-label") }}
                            {{ form.password(class="form-control form-control-user") }}
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password.label(class="form-label") }}
                            {{ form.confirm_password(class="form-control form-control-user") }}
                        </div>
                        <div class="form-group">
                            {{ form.first_name.label(class="form-label") }}
                            {{ form.first_name(class="form-control form-control-user") }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name.label(class="form-label") }}
                            {{ form.last_name(class="form-control form-control-user") }}
                        </div>
                        {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

